<settings>

    <setting propertyKey="@Properties.ColorsSchemeType" title="@Strings.ColorsSchemeTypeTitle">
        <settingConfig type="list">
            <listEntry value="0x000001">@Strings.ColorsSchemeType_Black_Blues_Blues</listEntry>
            <listEntry value="0x000002">@Strings.ColorsSchemeType_DkGray_Blues_Whites</listEntry>
        </settingConfig>
    </setting>

	<setting propertyKey="@Properties.ShowAlarmStatus" title="@Strings.ShowAlarmStatus">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowPhoneStatus" title="@Strings.ShowPhoneStatus">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowWatchStatus" title="@Strings.ShowWatchStatus">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.ShowHeartRate" title="@Strings.ShowHeartRate">
        <settingConfig type="boolean" />
    </setting>

</settings>
